example.com {
	# for auth
	# basic_auth {
	#     user hashed-password
	# }

	# website (frontend) root
	redir /audio /audio/
	handle_path /audio/* {
		root * /path/to/website
		file_server
	}

	handle /backend* {
		reverse_proxy IP:8643 {
			# reduce latency
			flush_interval -1
		}
	}

	# other root
	handle {
		reverse_proxy IP:59090
	}
}
